<div class="container">

      <h2>Pets list</h2>
      <ul>
        <% @pets.each do |pet| %>
          <li>
            <%= link_to(pet.name, pet_path(pet)) %>
          </li>
        <% end %>
      </ul>


      <%= link_to "Have you found a pet?", new_pet_path, class: 'btn btn-primary' %>
</div>
